@{
    Layout = "~/Views/Shared/layau2.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <title>HDUA</title>
    <style>
        body {
            background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }

    </style>
</head>

<body>
    <div class="row mt-5">
        <div class="col d-flex justify-content-end align-items-end">
            <h3>___________________________</h3>
        </div>

        <div class="col d-flex justify-content-center align-items-center" style="background-color: rgba(128, 128, 128, 0.5);">
            <h3 class="panel-heading"><samp>MIS DATOS</samp></h3>
        </div>

        <div class="col d-flex justify-content-start align-items-start">
            <h3>___________________________</h3>
        </div>
    </div>

    <samp>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8" style="background-color:#C2E6D6">
                    <div class="card shadow-lg border border-black" style="background-color:#C2E6D6;">
                        <div class="card-body">
                            <form id="datosForm">
                                <!-- Fila 1 -->
                                <div class="row mb-3">
                                    <label for="inputNombreUsuario" class="col-sm-2 col-form-label">Nombre de usuario</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="inputNombreUsuario" disabled>
                                    </div>
                                    <label for="selectTipoUsuario" class="col-sm-2 col-form-label">Tipo de usuario</label>
                                    <div class="col-sm-4">
                                        <select class="form-select" id="selectTipoUsuario" disabled>
                                            <!-- Opciones del select -->
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="selectInstitucion" class="col-sm-2 col-form-label">Institución</label>
                                    <div class="col-sm-4">
                                        <select class="form-select" id="selectInstitucion" disabled>
                                            <!-- Opciones del select -->
                                        </select>
                                    </div>
                                    <label for="selectGenero" class="col-sm-2 col-form-label">Género</label>
                                    <div class="col-sm-4">
                                        <select class="form-select" id="selectGenero" disabled>
                                            <!-- Opciones del select -->
                                        </select>
                                    </div>
                                </div>
                                <!-- Fila 2 -->
                                <div class="row mb-3">
                                    <label for="inputCorreo" class="col-sm-2 col-form-label">Correo electrónico</label>
                                    <div class="col-sm-4">
                                        <input type="email" class="form-control" id="inputCorreo" disabled>
                                    </div>
                                    <label for="inputContrasenia" class="col-sm-2 col-form-label">Contraseña</label>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="inputContrasenia" disabled>
                                    </div>
                                </div>
                                <!-- Fila 3 -->
                                <div class="row mb-3">
                                    <label for="iconoPerfil" class="col-sm-2 col-form-label">Ícono de perfil</label>
                                    <div class="col-sm-10">
                                        <!-- Inserta aquí el icono -->
                                    </div>
                                    <div class="col text-end">
                                        <button type="button" class="btn btn-outline-secondary" id="btnEditar" style="display: block; margin: 0 auto; color: black">Editar datos</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </samp>


    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <h3>____________________________________________________________________________________________________________</h3>
        </div>
    </div>

    <div class="col d-flex justify-content-between align-items-center">
        <a href="#" class="text-decoration-none ms-5" data-bs-toggle="modal" data-bs-target="#modalEliminarPerfil"><samp>Eliminar perfil</samp></a>
        <a href="@Url.Action("Principal", "Principal")" class="text-decoration-none me-5"><samp>Volver a inicio</samp></a>
    </div>


    <!-- Modal Confirmación de Eliminación de Perfil -->
    <samp>
        <div class="modal fade mt-5" id="modalEliminarPerfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea eliminar su perfil?</h5>
                        <button type="button" class="btn btn-outline-danger ms-auto" id="cerrarEditarUser" data-bs-dismiss="modal" aria-label="Close"><samp>X</samp></button>
                    </div>
                    <div class="modal-body justify-content-center">
                        <p>Recuerda que no podrás recuperarlo.</p>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="confirmarEliminar" onchange="habilitarEliminar()">
                            <label class="form-check-label" for="confirmarEliminar">
                                Confirmar eliminación
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button" class="btn btn-danger" id="btnEliminarPerfil" disabled>Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </samp>



    <script>
        $(document).ready(function () {
            // Al hacer clic en el botón de editar
            $("#btnEditar").click(function () {
                // Alternar la propiedad de deshabilitado de los elementos del formulario
                $("#datosForm :input").prop("disabled", function (i, val) {
                    return !val;
                    
                });
                $("#btnEditar").prop("disabled", false);


                // Cambiar el texto del botón entre "Editar" y "Guardar"
                var buttonText = $(this).text();
                if (buttonText === "Editar datos") {
                    $(this).text("Guardar");
                } else {
                    $(this).text("Editar datos");
                }
            });
        });

        function habilitarEliminar() {
            var checkbox = document.getElementById('confirmarEliminar');
            var btnEliminar = document.getElementById('btnEliminarPerfil');

            if (checkbox.checked) {
                btnEliminar.disabled = false;
            } else {
                btnEliminar.disabled = true;
            }
        }
    </script>

    
</body>



</html>