@{
    Layout = "~/Views/Shared/layau2.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>

    <title>HDUA</title>
    <style>
        body {
            background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }

    </style>
</head>

<body>

    <div class="row mt-5">
        <div class="col d-flex justify-content-end align-items-end">
            <h3>___________________________</h3>
        </div>

        <div class="col d-flex justify-content-center align-items-center" style="background-color: rgba(128, 128, 128, 0.5);">
            <h3 class="panel-heading"><samp>MUESTRA BOTÁNICA SELECCIONADA</samp></h3>
        </div>

        <div class="col d-flex justify-content-start align-items-start">
            <h3>___________________________</h3>
        </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center align-items-center border border-black">
        <div class="col-2">
            <samp>
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Aspectos generales</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Aspectos específicos</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Comentarios</a>
                </div>
            </samp>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0" style="max-height: 370px; overflow-y: auto;">

                <samp>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-10" style="background-color:#C2E6D6">
                                <div class="card shadow-lg border border-black" style="background-color:#C2E6D6;">
                                    <div class="card-body" style="height: 100vh;">

                                        <p>
                                            <h3 id="list-item-1">Aspectos generales</h3>
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="row">
                                                        <div class="col mt-2">
                                                            <img src="" alt="Imagen" class="img">
                                                        </div>
                                                        <div class="col-8 mt-2 flex-column">
                                                            <label for="nombreComun">Nombre común:</label>
                                                            <label name="nombrecomun"></label>
                                                            <label for="nombreCientifico" class="mt-2">Nombre científico:</label>
                                                            <label name="nombreCientifico"></label>
                                                            <label for="descripcion" class="mt-2">Descripción:</label>
                                                            <label name="descripcion"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </p>

                                        <p>
                                            <h3 id="list-item-2" class="mt-5">Aspectos específicos</h3>
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="row">
                                                        <div class="col mt-2">
                                                            <img src="" alt="Imagen" class="img">
                                                            <label for="coordenadas">Coordenadas</label>
                                                        </div>
                                                        <div class="col-8 mt-2 flex-column">
                                                            <label for="clase">Clase:</label>
                                                            <label name="clase"></label>
                                                            <label for="orden" class="mt-2">Orden:</label>
                                                            <label name="orden"></label>
                                                            <label for="especie" class="mt-2">Especie:</label>
                                                            <label name="especie"></label>
                                                            <label for="familia" class="mt-2">Familia:</label>
                                                            <label name="familia"></label>
                                                            <label for="genero" class="mt-2">Género:</label>
                                                            <label name="genero"></label>
                                                            <label for="ubicacion" class="mt-2">Ubicación:</label>
                                                            <label name="ubicacion"></label>
                                                            <label for="recolectores" class="mt-2">Recolectores:</label>
                                                            <label name="recolectores"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </p>

                                        <h3 id="list-item-3" class="mt-5">Sección de comentarios</h3>
                                        <p>

                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </samp>
                

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <h3>____________________________________________________________________________________________________________</h3>
        </div>
    </div>

    <div class="col d-flex justify-content-end align-items-end">
        <a href="@Url.Action("Resultado", "Resultado")" class="text-decoration-none me-5"><samp>Volver a resultados</samp></a>
    </div>

</body>
</html>
